@model CodeMer.Common.DTO.AuthDto.AuthUserDto;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CodeMer</title>

    <link rel="stylesheet" href="~/css/Login.css" />
</head>
<body>
<section>
    <img class="image" src="~/images/LogoPolessUp.jpg" alt="#">
    
    <h2>CodeMer</h2>
    
    <form class="input-group">
        <input type="email" placeholder="email" id="email">
        <input type="password" placeholder="password" id="password">
    </form>

    <div class="forget">
            <a href="#">Forgot your password?</a>
        </div>

        <div class="button-container">
            <button class="btn" onclick="loginCode()"> SIGN IN </button>
        </div>

        <div class="register">
            <p><a href="#">Sign up</a> if you don’t have an account yet.</p>
        </div>
        
</section>
    <script src="js/login.js"></script>
</body>
</html>