<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="~/css/Login.css">
  <title>Login</title>
</head>
<body>
<div class="login">
  <div class="login__card">
    <div class="logo logo--big">
      <img class="image" src="~/images/PolessUplogo.png" alt="#">
      <h1 class="logo__text">CodeMer</h1>
    </div>
  
    <form class="login__content" asp-controller="Auth" asp-action="Login" method="post">
      <div class="form">
        <div class="input">
          <img src="~/images/mail.svg" alt="mail">
          <input type="email" name="Email" placeholder="email">
        </div>
        <div class="input">
          <img src="~/images/lock.svg" alt="lock">
          <input type="password" name="Password" placeholder="password">
        </div>
      </div>
      <a href="https://localhost:7029/Auth/ResetPassword/" class="login__forgot text-small" asp-controller="Auth" asp-action="ResetPassword">
        Forgot your password?
      </a>
      <input class="btn" type="submit" value="Sign In">
      <div class="login__signup text-small">
                <a href="https://localhost:7029/Auth/Registration/"><u>Sign up</u></a> if you don’t have an account yet.
              </div>
    </form>
  </div>
</div>
</body>
</html>