<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/Login.css">
    <title>Recovery</title>
</head>
<body>
<div class="login">
    <div class="login__card">
        <div class="logo logo--big">
            <img src="~/images/PolessUplogo.png" alt="logo" class="logo__img">
            <h1 class="logo__text">CodeMer</h1>
        </div>
  
        <form class="login__content" asp-controller="Auth" asp-action="ResetPassword" method="post">
            <div class="form">
                <div class="input">
                    <img src="~/images/mail.svg" alt="mail">
                    <input type="email" name="Email" placeholder="email">
                </div>
            </div>
            <input class="btn" type="submit" value="Send Message">
        </form>
    </div>
</div> 
  
</body>
</html>